# Ignore WordPress core directories
wp-admin/
wp-includes/

# Ignore local configuration files
wp-config.php
*.log
*.sql

# Ignore upload and cache directories
wp-content/uploads/
wp-content/cache/

# Ignore plugins and themes unless custom
wp-content/plugins/
wp-content/themes/twentytwenty*/ # Default WordPress themes

# Ignore dependency directories
node_modules/
vendor/

# Ignore system files
.DS_Store
Thumbs.db